name: Publish image

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
    schedule:
        - cron: '0 0 * * *'
    push:
        branches: [ main ]
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

env:
    # Use docker.io for Docker Hub if empty
    REGISTRY: ghcr.io
    # GitHub.repository as <account>/<repo>
    IMAGE_NAME: ${{ github.repository }}
    TAG: latest

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            -
                name: Checkout repository
                uses: actions/checkout@v2

            # Workaround: https://github.com/docker/build-push-action/issues/461
            -
                name: Setup Docker buildx
                uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

            # Login against all registries
            # https://github.com/docker/login-action
            -
                name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -
                name: Login to DockerHub
                uses: docker/login-action@v1
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}

            # Extract metadata (tags, labels) for Docker
            # https://github.com/docker/metadata-action
            -
                name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            # Build and push Docker image with Buildx
            # https://github.com/docker/build-push-action
            -
                name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@v2
                with:
                    context: .
                    tags: ${{ env.TAG }}
                    labels: ${{ steps.meta.outputs.labels }}

            -
                name: retag and push multiplatform images to multiple registries
                uses: akhilerm/tag-push-action@v2.0.0
                with:
                    src: docker.io/${{ env.IMAGE_NAME }}:${{ env.TAG }}
                    dst: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
